{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">Excel file upload</h5>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <!-- error check -->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}

        <!-- file select and upload -->
        <div class="form-group">
            <label for="file">select a file : </label><br>
            <input type="file" name="file" id="file" multiple="multiple">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% endblock content %}